<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/headUsers.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    
    <section class="main">
        <div class="espacio-imagen">
            <img src="/img/fondo-reglog7.png">
        </div>
        <div class="espacio-formulario">
            <div class="formulario">
                <h2>Registro</h2>
                <!-- <% if(locals.errors) {%> 
                    <div class="ErrFormulario">
                        <% for( oneError in errors ) { %>
                            <ul>
                                <li><%= errors[oneError].msg %> </li>
                            </ul>
                        <% } %>  
                    </div>
                    <% } %>  -->
                <form action="/users/register" enctype="multipart/form-data" method="post">
                    <div class="inputBx">
                        <label>Usuario</label>
                        <div class="inputIcon">
                            <% if(locals.errors && errors.user) {%> 
                                <input type="text" name="user" id="user">
                                <p id="ErrFormulario">* <%= errors.user.msg %></p>
                            <% } else {  %>
                                <input type="text" name="user" id="user" value="<%= locals.oldData ? oldData.user : null %>">
                        </div>
                        <% } %> 
                    </div>

                    <div class="inputBx">
                        <label>Nombre(s)</label>
                        <div class="inputIcon">
                            <% if(locals.errors && errors.name) {%> 
                                <input type="text" name="name" id="name">
                                <p id="ErrFormulario">* <%= errors.name.msg %></p>
                            <% } else {  %>
                                <input type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>">
                        </div>
                        <% } %> 
                    </div>

                    <div class="inputBx">
                        <label>Apellido(s)</label>
                        <div class="inputIcon">
                            <% if(locals.errors && errors.lastName) {%> 
                                <input type="text" name="lastName" id="lastName">
                                <p id="ErrFormulario">* <%= errors.lastName.msg %></p>
                            <% } else {  %>
                                <input type="text" name="lastName" id="lastName" value="<%= locals.oldData ? oldData.lastName : null %>">
                        </div>
                        <% } %> 
                    </div>

                    <div class="inputBx">
                        <label>Correo electrónico</label>
                        <div class="inputIcon">
                            <% if(locals.errors && errors.email) {%> 
                                <input type="email" name="email" id="email">
                                <p id="ErrFormulario">* <%= errors.email.msg %></p>
                            <% } else {  %>
                                <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
                        </div>
                        <% } %> 
                    </div>

                    <div class="inputBx">
                        <label>Contraseña</label>
                        <div class="inputIcon">
                            <% if(locals.errors && errors.password) {%> 
                                <input type="password" name="password" id="password">
                                <p id="ErrFormulario">* <%= errors.password.msg %></p>
                            <% } else {  %>
                                <input type="password" name="password" id="password" value="<%= locals.oldData ? oldData.password : null %>">
                        </div>
                        <% } %> 
                    </div>

                    <div class="inputBx">
                        <label>Confirmar contraseña</label>
                        <div class="inputIcon">
                            <% if(locals.errors && errors.confirmPassword) {%> 
                                <input type="password" name="confirmPassword" id="confirmPassword">
                                <p id="ErrFormulario">* <%= errors.confirmPassword.msg %></p>
                            <% } else {  %>
                                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= locals.oldData ? oldData.confirmPassword : null %>">
                        </div>
                        <% } %> 
                    </div>

                    <div class="inputBx">
                        <div class="inputIcon">
                            <label for="avatar" id="avatarL" class="main__form-upload">Imagen de perfil</label>
                        </div>
                        <input type="file" name="avatar" id="avatar">
                        <% if(locals.errors && locals.errors.avatar ){ %>
                            <p id="ErrFormulario"> * <%= errors.avatar.msg %>  </p>
                        <% } %>
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Crear cuenta">
                    </div>
                    <div class="inputBx">
                        <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
                </form>
            </div>
        </div>
        </form>
    </section>

    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>

</html>