<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/headUsers.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../partials/header.ejs') %>
    <!-- Container -->
        <div style="margin-top: 40px;">
            <h2>Hi <%= user.name %> </h2>
            <img src="/imgUsers/<%= user.avatar %> ">
            <br>
            <br>
            <p><%= user.email %></p>
        </div>
	<!-- //Container -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>